*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    
   
}

#div-h1{
    margin-left: 35% !important;
    margin-top: 10% !important;
    border: 10px solid red;
    width: 40%;
    height: auto;
    
}

#in-order{
    margin-left: 20% !important;
    margin-top: 5% !important;
    padding: 20px !important;
    font-size: 1.3rem !important;
    transition: 1s ease-out !important;
    border: 5px dotted;
}
#randomly{
    margin-left: 20% !important;
    margin-top: 5% !important;
    padding: 20px !important;
    font-size: 1.3rem !important;
    transition: 1s ease-out !important;
    border: 5px dotted;
}
#div-buttons{
   
    width: 600px;
    height: 600px;
}

